div.stars {
   display: inline-block
}

div.stars.md {
   font-size: 1rem;
}
div.stars.sm {
   font-size: 0.7rem;
}
div.stars.xl {
   font-size: 2rem;
}

input.star {
   display: none
}

.comment label.star {
   transition: all .2s;
   padding: 1px;
	 color: #eee;
}
.comment.dark label.star {
	 color: #999888;
}
.comment label.star .fas.active{
   color: var(--bs-yellow) !important;
}
.comment input.star-5:checked~i {
   color: #FE7;
   text-shadow: 0 0 20px #952
}

.comment label.star:hover {
   transform: rotate(-15deg) scale(1.3)
}
.show label.star {
   transition: all .2s;
   padding: 1px;
	 color: #999888;
}
.show.dark label.star{
  color:#eee;
}
.show label.star .fas.active {
   color: var(--bs-yellow);
}
.show input.star-5:checked~i {
   color: #FE7;
   text-shadow: 0 0 20px #952
}
.review input.star {
   display: none
}

.review label.star i {
   color: white;
   padding: 3px;
   background: rgb(219, 214, 214);
   margin-right: 3px;
}
.review label.star i.active{
   background: var(--bs-danger);
}
/* 
input.star:checked~label.star:before {
   content: "\f005";
   color: #FD4;
   transition: all .25s
}

input.star-5:checked~label.star:before {
   color: #FE7;
   text-shadow: 0 0 20px #952
}

input.star-1:checked~label.star:before {
   color: #F62
}



label.star:before {
   content: "\f006";
   font-family: 'Font Awesome 5 Pro'
} */
